.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}



@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    display: grid;
    place-content: center;
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    width: max-content;
    box-shadow: 2px 2px 5px black;
    border-radius: 20px;
}


.sidebar {
    background-image: url('bg-sidebar-desktop.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 274px;
    height: 568px;
    margin: 10px;


}

.widgetList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: max-content;
    margin: 10px auto;
    color: hsl(229, 24%, 87%);
}

.widget {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

.widget_no {
    border: 1px solid hsl(229, 24%, 87%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    margin: 0 10px;
}

.widget_head {
    font-weight: lighter;
    font-size: 13px;
}

.widget_head p {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
}

.widget_active {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: hsl(229, 24%, 87%);
    color: hsl(0, 0%, 0%);
}

.form {
    margin: 35px 50px 50px 50px;
    color: hsl(213, 96%, 18%);
    font-weight: 700;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.form h3 {
    font-weight: 700;
    font-size: 24px;
    margin: 5px 0;
}

.form p {
    font-weight: lighter;
    color: hsl(231, 11%, 63%);
    font-size: 12px;
    margin: 10px 0;
}

.formField {
    margin: 15px 0;
}

.formField label {
    font-weight: 700;

}

.formField input:required {
    margin: 8px 0;
    height: 35px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid hsla(231, 11%, 63%, 0.5);
}

.form input::placeholder {
    padding-left: 10px;
    color: hsl(213, 96%, 18%);
}

.btn_Nxt {
    padding: 10px 20px;
    background-color: hsl(213, 96%, 18%);
    color: aliceblue;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}

.btnGrp1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.err {
    color: hsl(354, 84%, 57%);
    font-size: 10px;
    opacity: 0;
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#form1 {
    /* display: none; */
}

#form2 {
    display: none;

}
#form3 {
    display: none;

}

#form4 {
    display: none;

}
#form5 {
    display: none;

}

.cardList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.card_monthly {
    width: 100px;
    padding: 5px;
    line-height: 5px;
    margin: 5px;
    box-sizing: border-box;
    cursor: pointer;
}
.cardList input + label{
    border: 1px solid hsla(231, 11%, 63%, 0.5);
    border-radius: 5px;
    
}

.card_monthly img {
    margin: 15px 0;
}

.card_monthly h6{
    font-size: 13px;
}


.btnGrp2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox {
    display: none;
  }
  
  .slider {
    width: 40px;
    height: 20px;
    background-color: lightgray;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 4px solid transparent;
    transition: .3s;
    cursor: pointer;
  }
  
  .slider::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: translateX(-20px);
    border-radius: 20px;
    transition: .3s;
    box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);
  }
  
  .checkbox:checked ~ .slider::before {
    transform: translateX(20px);
    box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);
  }
  
  .checkbox:checked ~ .slider {
    background-color: hsl(213, 96%, 18%);
  }
  
  .checkbox:active ~ .slider::before {
    transform: translate(0);
  }
.switchBtn{
    display: flex;
    justify-content: center;
}
.switchBtn >*{
    margin:0 5px;
}
#switchBtn_1,#switchBtn_2{
    color: hsl(213, 96%, 18%) !important;
    font-size: 13px;
}
.active_switch{
    text-shadow: 0 0 2px hsl(213, 96%, 18%) ;
}

.free{
    color: hsl(213, 96%, 18%) !important;
    text-shadow: 0 0 2px hsl(213, 96%, 18%) ;
    font-size: 13px;
    padding: 10px 0 !important;
    display: none;
}

.cardList input {
    visibility:hidden;
}

.cardList input:checked + label{
    border: 2px solid hsl(213, 96%, 18%);
}

#err2 p{
    color: red !important;
    font-size: 14px;
}

#err2{
    text-align: center;
    display: none;

}

.cardList label{
    margin: 5px;
}

.cardList input{
    display: none;
}

.cardList2 input{
background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 3px;
    margin: 10px;
    text-align: center;
    border-radius: 5px;

}



.cardList2 label{
    border: 1px solid  hsla(231, 11%, 63%, 0.5);
    margin: 10px 0;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;

}

.rate{
    color: hsl(243, 100%, 62%) !important;
}
.content{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainPlan_head{
    display: flex;
    flex-direction: column;
}
.mainPlan{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px;
}
.change{
    cursor:pointer;
    color: hsl(231, 11%, 63%);
    font-size: 12px;
    
}
.checkout hr{
    width: 95%;
    margin: 2px auto;
}

.addons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px;
}
.addons .planName{
    color: hsl(231, 11%, 63%);
}

.addons .planValue{
    color: hsl(213, 96%, 18%);
}

#addon1,#addon2,#addon3{
    display: none;
}
.final{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 10px 15px 10px;
}
.totalvalue{
    color: hsl(243, 100%, 62%);

}
#form4 .btn_Nxt{
    background-color: hsl(243, 100%, 62%);
}

.thanknote{
    text-align: center;
    margin: 100px 5px;
    
}
.thanknote p{
    /* max-width: 300px; */
    font-size: 15px;
    margin: 10px auto;
}
.formcontent{
    height: 100%;
    width: 100%;
}

.formcontent img{
    margin: 20px 0;
}



